---
layout: default
title: Lautaro Colombo - Blog
category: blog
---

<section class="inner">
  <h1>Blog</h1>
  <p>My thoughts on Technology, CTF's solutions, Life & more.</p>
  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        {% if post.spanish %}
          <img src="/images/french.png" alt="Spanish post" class="french-flag" title="This post is in spanish" />
        {% endif %}
        <br />
        <span class="date">{{ post.date | date_to_string }}</span>
        <br />
        <span class="description">{{ post.description }}</span>
      </li>
    {% endfor %}
  </ul>
</section>
